<!-- Name: Lion Yakubov
     Student ID: lyakubov
     Student #129517207 -->
<h1>Registration Page</h1>
<section id="registration">
     <p><span class="required">*</span> Required field</p>
     <form method="post" action="/register" id="register">
          <fieldset id="accountDetails">
               <legend>Sign Up</legend>
               <label for="firstName">First Name<span class="required">*</span></label>
               <input id="firstName" name="firstName" type="text" placeholder="Type Here..." tabindex="1" value="{{details.firstName}}"/>
               {{#if errorMessages.firstName}}
                    <br>
                    <span class="error">{{errorMessages.firstName}}</span>
               {{/if}}
               <br>
               <br>
               <label for="lastName">Last Name<span class="required">*</span></label>
               <input id="lastName" name="lastName" type="text" tabindex="2" placeholder="Type Here..." value="{{details.lastName}}"/>
               {{#if errorMessages.lastName}}
                    <br>
                    <span class="error">{{errorMessages.lastName}}</span>
               {{/if}}
               <br>
               <br>
               <label for="email">Email Address<span class="required">*</span></label>
               <input id="email" name="email" type="text" tabindex="3" placeholder="example@cookzilla.com" value="{{details.email}}"/>
               {{#if errorMessages.email}}
                    <br>
                    <span class="error">{{errorMessages.email}}</span>
               {{/if}}
               <br>
               <br>
               <label for="password">Password<span class="required">*</span></label>
               <input id="password" name="password" type="password" tabindex="4" placeholder="Type Here..." value="{{details.password}}"/>
               {{#if passwordError}}
                    {{#each passwordError}}
                         <br>
                         <span class="error">{{this}}</span>
                    {{/each}}
               {{/if}}
               <br>
               <br>
               <input type="submit" value="Sign Up" tabindex="5"/>
          </fieldset>
     </form>
</section>
{{#if err}}
     <span class="error">{{err}}</span>
{{/if}}


           <!--<div id="date">
               <label for="date-of-birth">Date Of Birth<span class="required">*</span></label>
               <input id="dateOfBirth" type="date" name="date" tabindex="3"/>
               </div>
               <br>-->