<!-- Name: Lion Yakubov
     Student ID: lyakubov
     Student #129517207 -->
<div id="header">
    <a href="/"><img id="logo" src="/images/cookZilla.png" height="100"></a>
    <div id="navigationBar">
        <a href="/">Home Page</a>
        <a href="/on-the-menu">Weekly Recipes</a>
        {{#if account}}
            {{#if isCustomer}}
                <a href="/customerDash">{{account.firstName}} {{account.lastName}}</a>
            {{else}}
                <a href="/clerkDash">{{account.firstName}} {{account.lastName}}</a>
            {{/if}}
            <a href="/logout">Logout</a>
        {{else}}
            <a href="/register">Registration</a>
            <a href="/login">Login</a>
        {{/if}}
    </div>
</div>